*{
    box-sizing:border-box;
}
.parent{
    display:flex;
    padding:10px;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
}
.box1{
    background-color:red;
    color:white;
    text-align:center;
    padding:10px;
    width:32%;


}
.box2{
    background-color: blue;
    color:white;
    text-align:center;
    padding:10px;
    width:32%;


}
.box3{
    background-color: green;
    color:white;
    text-align:center;
    padding:10px;
    width:32%;


}
img{
    height:auto;
    max-width:100%;
}
@media(max-width:700px){
    body{
        background-color: yellow;
    }

}
@media(max-width:800px){
    body{
        background-color:aqua;
    }

}