/*{
    height:100%;
    width:100%;
     display:flex;
    align-items:center;
    justify-content:center;
}*/

.parent{
    border: 2px solid red;
    height: 800px;
    width: 800px;    
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 10px;
}

.child1{
    border: 2px solid blue;
    height: 180px;
    width: 280px;
}

.child2{
    border: 2px solid blue;
    height: 180px;
    width: 280px;
}

.child3{
    border: 2px solid blue;
    height: 180px;
    width: 280px;
}



